---
layout: "base.njk"
---

 <section>
         <div class="wrap page">
            <div class="heading">
                <h1>{{title}}</h1>
            </div>
             <p>{{ content | safe }}</p>
         </div>
</section>

