---
layout: "base.njk"
---

 <section>
         <div class = "wrap page">
            <div class="heading">
                <h1>{{title}}</h1>
                <i>Posted on {{date}}</i>
            </div>
             <p>{{ content | safe }}</p>
         </div>
</section>

