<footer>
        <div class="wrap">

            <div class="link"> 
                <ul>
                    <li><a href=""><img src="../../img/fb1.png" alt=""></a></li>
                    <li><a href=""><img src="../../img/twitter-(4).png" alt=""></a></li>
                </ul>
           </div>
           <div class = "copy">
                <p>Made By Victor in 2021</p>
           </div>
        </div>
</footer>