<nav>
    <div class="wrap">
        <div class="logo"><h1><a href="/"> My Blog </a></h1></div>
        <div class="link"> 
             <ul>
                 <li><a href="/page">About</a></li>
             </ul>
      </div>
    </div>
</nav>