<nav>
    <div class="wrap">
        <div class="logo"><h1><a href="/">{{title}}</a></h1></div>
        <div class="link"> 
             <ul>
                 <li><a href="">About</a></li>
             </ul>
      </div>
    </div>
</nav>