section{
    .wrap{
        .heading{
            padding:20px 0px;
            h1{
                padding:0px;
            }
        }

        p{
            line-height: 150%;
            font-size:18px;
        }
      
        .pageImg{
            margin:20px 0px;
            max-width:100%;
            height:500px;
            object-fit: cover;
            object-position: top;
        }
    }
}

.page{
    max-width:750px;
    margin:auto;
}

@media(max-width:700px){
    section{
        .wrap{
            p{
                font-size:17px;
            }
        }
    }
}