---
layout: "base.njk"
---
     <section>
         <div class="wrap page">
            <div class="heading">
                <h1>Hello World</h1>
                <i>Published 21-01-19214</i>
            </div>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur praesentium placeat quae harum minus? Nam veniam nesciunt saepe excepturi, magnam vero et itaque, facilis ullam velit vitae ad qui odio!</p>
             <div class="img">  
                <img src="../img/5b8d9f116173d8e1e791d304d6cf1681.jpg" alt="" class="pageImg">
             </div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda nobis praesentium consectetur velit eos corporis exercitationem recusandae. Eligendi eius dolore, esse obcaecati nihil molestias error accusantium hic nemo? Magnam!.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda nobis praesentium consectetur velit eos corporis exercitationem recusandae. Eligendi eius dolore, esse obcaecati nihil molestias error accusantium hic nemo? Magnam!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda nobis praesentium consectetur velit eos corporis exercitationem recusandae. Eligendi eius dolore, esse obcaecati nihil molestias error accusantium hic nemo? Magnam!</p>
             <img src="../img/5b8d9f116173d8e1e791d304d6cf1681.jpg" alt="" class="pageImg">
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor placeat minima assumenda, reprehenderit magnam in corrupti aspernatur voluptatibus velit tenetur cum, tempore molestias dicta consequuntur illum quia quasi exercitationem tempora!</p>
         </div>
     </section>
