---
layout: "base.njk"
---
   

       <section>
            <div class = "wrap">
                <h1>Recent Posts</h1>
                <div class="posts">

                    {%- for post in collections.post -%}

                        <div class="post"> 
                                 <div class="img"><img src="{{ post.data.img }}" alt="img"></div>
                                    <div class="text">
                                        <div class="inner">
                                            <h2>{{ post.data.title }}</h2>
                                            <i>Post {{ post.date }}</i>
                                            <a href="{{ post.url }}">Read</a>
                                        </div>
                                    </div>
                        </div> 

                    {%- endfor -%}
                   
                </div>

            </div>
<section/>  
    
                   