---
title: My Blog
layout: 'base.njk'
---

<section>
    <div class="wrap">
        <h2>How I Struggled with Eleventy</h2>
        <i>Published 24th September 2021</i>
           <br><br><br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic provident totam ipsa sed commodi fugit obcaecati sapiente recusandae porro. Sequi perspiciatis impedit dolor asperiores assumenda exercitationem quasi quam, deleniti officia. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic provident totam ipsa sed commodi fugit obcaecati sapiente recusandae porro. Sequi perspiciatis impedit dolor asperiores assumenda exercitationem quasi quam, deleniti officia</p>
            <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum, ipsum itaque iure similique explicabo reiciendis? Perferendis dignissimos, nemo non totam dicta voluptatum dolore architecto tempora ad assumenda doloribus consequuntur!</p>
         <br>
        <p>Ahhh!, It is Beginning to make sense</p>
    </div>
</section>

  